@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body {
  /* background-color: rgb(0 0 0); */
  background: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
}
