@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerContainer {
  width: fit-content;
  margin-left: 30px;
  background-color: rgb(0 0 0 / 50%);
  padding: 25px;
}

.home .headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
  font-family: "Great Vibes", cursive;
  color: forestgreen;
  text-shadow: 3px 4px #003d1f;
}

.home .headerContainer p {
  margin-top: 15px;
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}

.home .headerContainer button {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 180px;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.headerContainer button:hover {
  background-color: forestgreen;
  cursor: pointer;
  transition: 0.3s ease-in;
}

/* Media queries */

@media only screen and (max-width: 600px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer {
    margin-left: 0;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0 0 0 / 70%);
  }
  .home .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    margin: 30px 0;
    text-shadow: 2px 2px #003d1f;
  }
  .home .headerContainer p {
    font-size: 30px;
  }
  .home .headerContainer button {
    margin-bottom: 30px;
    font-size: 16px;
  }
}
